header{
	background-color:#2b506e;
	height:150px;
}
#maincontent{
	background-color:#4188D2;
	float:right;
	width:85%;
}
footer{
	background-color:#66A3D2;
	height:75px;
	clear:both;
	text-align:center;
}
#sidebar{
	height:200px;
	background-color:#689CD2;
	float:left;
	width:15%;
}
#sidebar ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	background-color: #689CD2;
}
#sidebar li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

#sidebar li a:hover{
	color: white;
}

.left{
	float:left;
}
h1{
	text-align:center;
	font-family:Bernard MT Condensed;
	color:darkgrey;
	font-size:70px;
	padding:2.5%;
}
p{
	font-family:Arial;
}
.text{
	font-size:40px;
	color:white;
	text-align:center;
}
.right{
	float:right;
}
body{
background-color:#4682b4;
}